.form {
    width: 100%;
}
  
.form input {
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 4px;
    margin-left: 4px;
}
  
.form_footer {
    text-align: center;
    margin-top: 10px;
}
  